<div data-role="collapsible" {{if first}} data-collapsed="false" {{else}} data-collapsed="true"{{/if}} data-theme="d" >
  <h3>
    ${title}
  </h3>
  <div class="ui-body ui-body-c">
	  <p>
	    ${description}
	  </p>
	  <div data-role="fieldcontain">
	    <fieldset data-role="controlgroup">
	     {{each choices}}
	       <input {{if multiple}} type="checkbox" {{else}} type="radio" {{/if}} name="poll-choice-${id}" id="poll-choice-${id}-${$value.index}" data-theme="d" value="poll-choice-${id}-${$value.index}" />
	       <label for="poll-choice-${id}-${$value.index}">${$value.choice}</label>
	     {{/each}}
	    </fieldset>
	  </div>
	  <a class="fb_button fb_button_medium" style="float: right"><span class="fb_button_text">Submit a Vote</span></a>
  </div>
</div>